<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!--   <appender name="FILE" class="ch.qos.logback.core.FileAppender"> -->
    <!--     <file>~/grails-apps/log/g3-app-shiro.log</file> -->
    <!--     <encoder> -->
    <!--       <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern> -->
    <!--     </encoder> -->
    <!--   </appender> -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %X{sessionId:--} %level [%thread]. %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="common" level="debug"/>
    <logger name="app" level="debug"/>
    <logger name="g3" level="debug"/>
    <logger name="shiro" level="debug"/>
    <logger name="tcmpa" level="debug"/>


    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>